body{
    background-color: rgb(34, 52, 67);
}
.container{
    
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}

.container h1{
color: blueviolet;
font-size: 5rem;
text-shadow: 7px 0 purple;
}

p{
    font-size: 2rem;
    color: rgb(139, 0, 109);
    font-weight: bold;
}
img{
    width: 80%;
}
.win{
    color: darkred;
    text-shadow: 7px 0 yellow;
    background-color: grey;
    
}
h1{
    text-align: center;
    font-size: 5rem;
}